* {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 ,h3, h4 {
    background-color: white;
    text-align: center;
}

a {
    color: white;
    background-color: blue;
}

img {
    align-items: center;
}