* {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#options {
    display: block;
    margin: 5px;
    text-align: center;
    padding: 5px
}
h1 ,h3, h4 {
    background-color: white;
    text-align: center;
    padding: 12px 8px;
}

a {
    color: white;
    background-color: blue;
}

img {
    display: block;
    margin: auto;
}

li {
    background-color: lightgreen;
}

p {
    background-color: aqua;
}